<!DOCTYPE html>
<html>
<head>
    <title>Flipbook</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Flipbook</h2>

<div class="book">
  <div class="sheet left-sheet">
    <div class="front"><canvas id="left-front"></canvas></div>
    <div class="back"><canvas id="left-back"></canvas></div>
  </div>

  <div class="sheet right-sheet">
    <div class="front"><canvas id="right-front"></canvas></div>
    <div class="back"><canvas id="right-back"></canvas></div>
  </div>

  <div class="spine"></div>
</div>

<div class="controls">
  <button id="prevBtn">◀ Prev</button>
  <span id="pageIndicator">Page 1</span>
  <button id="nextBtn">Next ▶</button>
</div>


<script>
    const PDF_FILE = "{{ filename }}";
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>